#abalert {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	
	text-align:center;
	color: red;
	display: none;
	font-family: Arial, sans-serif;
}

.nystagbox {
	width: 25%;
	float: left;
	text-align: left;
	position: relative;
}

.centertxt {
  text-align: center;
  margin-left: auto;
 margin-right: auto;
   display: inline-block;
  vertical-align: middle;
}


.abbox {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  width: 200px;
  height: 80px;
  position: relative;
  top: 70%; left: 50%;
  transform: translate(-50%,200%);
}

.abbutton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.abbutton2 {background-color: #008CBA;} /* Blue */
.abbutton3 {background-color: #008CBA;} /* Red */ 
.abbutton4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.abbutton5 {background-color: #f44336;} /* Black */

.abbutton:hover, .abbox:hover {
	opacity: 80%;
}

#divB {
	background-color: #82c9e0;

  border-radius: 5px 40px 40px 40px;
	width: 100%;
	height: 700px;

	vertical-align: middle;
}

#divA {
		background-color: #a8f0b7;
   border-radius: 5px 40px 40px 40px;
	overflow-y: auto;
	height: 700px;
	width: 100%;
}

#ab_text {
	overflow-y: auto;
	padding: 20px;
	height: 90%;
	width: 90%;
	min-height: 500px;
	position: relative;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	font-family: Arial, sans-serif;
}

#other_comments_parent {
	padding: 50px;
	display: block;
}

#other_comments {
	resize: none;
	display: block;
	overflow-y: auto;
	padding: 20px;
	height: 85%;
	width: 90%;
	min-height: 400px;
	position: relative;
	top: 0%; left: 5%;
	transform: translate(0%,0%);
	font-family: Arial, sans-serif;
}

.main, .head {
  border-collapse: collapse;
  width: 100%;
}

.head > tbody > tr > td {
	width: 33.333%;
}

.main > tbody > tr > td {
	width: 50%;
}

.main > tbody > tr > td:nth-child(even) {
  text-align: left;
  padding: 8px;
}

.main, .head > tbody > tr > td:nth-child(odd) {
  text-align: right;
  padding: 8px;
}

:root {
	--varf-bg-col: #c8d3e6;
}

.main > tbody > tr:nth-child(even) {
	background-color: var(--varf-bg-col);
}

.mdd_btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.mdd_btn:hover, .mdd_btn:focus {
  background-color: #3e8e41;
}

.mdd-text {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.mdd-text:focus {outline: 3px solid #ddd;}

.mdd {
  position: relative;
  display: inline-block;
}

.mdd-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  height: 250px; 
  overflow-x: hidden; 
  overflow-y: auto;   
}

.mdd-content .fopt {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.mdd a:hover {background-color: #ddd;}


/* Modal css */


* {box-sizing: border-box}

/* Set a style for all buttons */
.diag_button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.diag_button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
#diag_btnA, #diag_btnB {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
#diag_btnA {
  background-color: #ccc;
}

/* Add a color to the delete button */
#diag_btnA {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.diag_container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.diag_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.diag_modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
.diag_hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.diag_close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.diag_close:hover,
.diag_close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.diag_clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  #diag_btnA, #diag_btnB {
    width: 100%;
  }
}
